<div></div>
<div data-spy="scroll" data-target="#main-nav" id="home">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
      <a href="index.html" class="navbar-brand">LoopLabs</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarcollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#explore-head-section" class="nav-link">Explore</a>
          </li>
          <li class="nav-item">
            <a href="#create-head-section" class="nav-link">Create</a>
          </li>
          <li class="nav-item">
            <a href="#share-head-section" class="nav-link">Share</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Home section-->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">
              Buils <strong> social profile </strong> ang give
              <strong>revenue profits </strong>
            </h1>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatem temporibus totam, quia ducimus delectus mollitia!
              </div>
            </div>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatem temporibus totam, quia ducimus delectus mollitia!
              </div>
            </div>
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatem temporibus totam, quia ducimus delectus mollitia!
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm">
            <div class="card bg-primary text-center card-form">
              <!-- <div class="card-header">
                <div class="card-title">test</div>
              </div> -->
              <div class="card-body">
                <h3>Sign Up today</h3>
                <p>Please fillout the form to register</p>
                <form>
                  <div class="form-group">
                    <!-- <label for="useName">User Name</label> -->
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      id="useName"
                      placeholder="User Name"
                    />
                  </div>
                  <div class="form-group">
                    <!-- <label for="useName">User Name</label> -->
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      id="Email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <!-- <label for="useName">User Name</label> -->
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      id="password"
                      placeholder="password"
                    />
                  </div>
                  <div class="form-group">
                    <!-- <label for="useName">User Name</label> -->
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      id="confirmpassword"
                      placeholder="Confirm Password"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-outline-light btn-block"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- explore head-->
  <section id="explore-head-section">
    <div class="container">
      <div class="col text-center py-4">
        <div class="display-3">Explore</div>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
          error quisquam fugit perferendis facere voluptatem! Quo asperiores
          assumenda ea aperiam praesentium repellat explicabo incidunt,
          similique maxime quae amet saepe aliquid odio culpa exercitationem
          cumque omnis, ab architecto distinctio animi repellendus.
        </p>
        <div>
          <button class="btn btn-outline-secondary">Find Out More</button>
        </div>
      </div>
    </div>
  </section>
  <!-- <spam id="year"></spam> -->
  <section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../assets/img/explore-section1.jpg"
          />
        </div>
        <div class="col-md-6">
          <h3>
            Explore & Connect
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            incidunt ab officia eligendi, numquam vero velit dolor at error
            beatae aliquid repudiandae deserunt natus optio soluta! Nobis
            doloribus amet ducimus?
          </p>
          <!-- <div class="text-center"> -->
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- create -->
  <!-- create head-->
  <section id="create-head-section" class="bg-primary">
    <div class="container">
      <div class="col text-center py-4">
        <div class="display-4">Create</div>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
          error quisquam fugit perferendis facere voluptatem! Quo asperiores
          assumenda ea aperiam praesentium repellat explicabo incidunt,
          similique maxime quae amet saepe aliquid odio culpa exercitationem
          cumque omnis, ab architecto distinctio animi repellendus.
        </p>
        <div>
          <button class="btn btn-outline-light">Find Out More</button>
        </div>
      </div>
    </div>
  </section>
  <!-- <spam id="year"></spam> -->
  <section id="create-section" class="text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../assets/img/create-section1.jpg"
          />
        </div>
        <div class="col-md-6 text-white">
          <h3>
            Create Your Passion
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            incidunt ab officia eligendi, numquam vero velit dolor at error
            beatae aliquid repudiandae deserunt natus optio soluta! Nobis
            doloribus amet ducimus?
          </p>
          <!-- <div class="text-center"> -->
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- share -->
  <!-- share head-->
  <section id="share-head-section" class="bg-primary">
    <div class="container">
      <div class="col text-center py-4">
        <div class="display-4">Share</div>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi
          error quisquam fugit perferendis facere voluptatem! Quo asperiores
          assumenda ea aperiam praesentium repellat explicabo incidunt,
          similique maxime quae amet saepe aliquid odio culpa exercitationem
          cumque omnis, ab architecto distinctio animi repellendus.
        </p>
        <div>
          <button class="btn btn-outline-light">Find Out More</button>
        </div>
      </div>
    </div>
  </section>
  <!-- <spam id="year"></spam> -->
  <section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../assets/img/share-section1.jpg"
          />
        </div>
        <div class="col-md-6">
          <h3>
            share Your Passion
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            incidunt ab officia eligendi, numquam vero velit dolor at error
            beatae aliquid repudiandae deserunt natus optio soluta! Nobis
            doloribus amet ducimus?
          </p>
          <!-- <div class="text-center"> -->
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Voluptatem temporibus totam, quia ducimus delectus mollitia!
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <footer id="main-footer ">
    <div class="container">
      <div class="row py-4">
        <div class="col text-center">
          <h3>LoopLAB</h3>
          <p>
            Copyright &copy;
            <span>{{ year }}</span>
          </p>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#contactModal"
          >
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </footer>

  <div
    class="modal fade text-dark"
    id="contactModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modelTitleId"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark">Contact Us</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="email">Name</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary btn-block"
            data-dismiss="modal"
          >
            Submit
          </button>
          <!-- <button type="button" class="btn btn-primary">Save</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
